<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<appSettings>
		<!--Logger Congiguration-->
		<add key="IsLoggingEnabled" value="True" />
		<add key="LoggingFileMaxSizeInMB" value="2" />
		<add key="FileExtensions" value="*.TXT" />
		<add key="MetaFileNameExtention" value=".xml" />
		<!--Service Start Configurations-->
		<add key="IsServiceStartManuallyScheduled" value="False" />
		<add key="ServiceStartPeriodInMinutes" value="1" />
		<!--File Purge/Deletion Configuration-->
		<add key="DataDeletionPeriodInDays" value="5" />
		<add key="DataPurgingPeriodInDays" value="3" />
		<add key="RetryLockedFileAttempts" value="5"/>
		<add key="WaitTimerForRetrying" value="30000"/>
		<!--Timers Configurations-->
		<add key="PurgeTimerIntervalInMinutes" value="5" />
		<add key="PrintTimerIntervalInMinutes" value="1" />		
		<!--1sec * 1000 = 1000ms-->
		<add key="WatcherWaitIntervalInSeconds" value="30" />
		<!--Local File Processing Path as per Local Machine FileIO Directories-->
		<add key="LoggingPath" value="C:\NBS_SFTP\Logs" />
		<add key="ConfigurationSourcePath" value="C:\NBS_SFTP\Config" />
		<add key="InputFilePathLocation_Local" value="C:\NBS_SFTP\Input" />
		<add key="InputFileDiscardedPath" value="C:\NBS_SFTP\InputDiscarded" />
		<add key="OutputFilePathLocation_Local" value="C:\NBS_SFTP\Output" />
		<add key="OutputFileDiscardedPath" value="C:\NBS_SFTP\OutputDiscarded" />
		<!--Input File Location Path SFTP/Local Details-->
		<add key="InputFilePathLocation_SFTP_IsEnabled" value="False" />
		<add key="InputFilePathLocation_SFTP" value="/NBS_SFTP/Input" />
		<add key="InputFilePathLocation_SFTP_Host" value="15.206.184.77" />
		<add key="InputFilePathLocation_SFTP_Port" value="22" />
		<add key="InputFilePathLocation_SFTP_Usr" value="Administrator" />
		<add key="InputFilePathLocation_SFTP_Pwd" value="?6H@K8j3F7A2)2F*!**5dtwpraeocQrz" />
		<!--Output File Location Path SFTP/Local Details-->
		<add key="OutputFilePathLocation_SFTP_IsEnabled" value="False" />
		<add key="OutputFilePathLocation_SFTP" value="/NBS_SFTP/Output" />
		<add key="OutputFilePathLocation_SFTP_Host" value="15.206.184.77" />
		<add key="OutputFilePathLocation_SFTP_Port" value="22" />
		<add key="OutputFilePathLocation_SFTP_Usr" value="Administrator" />
		<add key="OutputFilePathLocation_SFTP_Pwd" value="?6H@K8j3F7A2)2F*!**5dtwpraeocQrz" />
		<!--SMTP Details-->
		<add key="IsEmailEnabled" value="False" />
		<add key="SMTP_Host" value="smtp.mailtrap.io" />
		<add key="SMTP_Port" value="25" />
		<add key="SMTP_Usr" value="5e5476110d712a" />
		<add key="SMTP_Pwd" value="290d995eddcf55" />
		<add key="SMTP_From" value="praveen.kumar.espire@gmail.com" />
		<add key="SMTP_To" value="praveen.kumar.espire@gmail.com" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>